@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    line-height: 1.15;
}

.header{
    padding: 24px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        max-width: 1140px;
        margin: 0 auto;
        .hamburger-icon{
            background-color: #fff;
            border-radius: 50%;
            padding: 8px 12px;
            cursor: pointer;
        }
    }
}

#first-two-sections{
    position: relative;
    hr{
        height: 1px;
        background-color: #DFDFDF;
        border: none;
        width: 80%;
        margin: auto;
    }
}

.company-logo{
    position: absolute; /* position this div absolutely */
    top: 50%; /* position it 50% from the top */
    left: 50%;
    transform: translate(-44.5%, -50%);
    min-width: 90%;
    min-height: 100px;
    background-color: #FAFAFA;
    box-shadow: -15px 18px 136px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: -15px 18px 136px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -15px 18px 136px 3px rgba(0,0,0,0.75);
    .container{
        width: 90%; /* set width to 90% */
        height: 100%;
        .logos{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            img{
                max-width: 15%;
                max-height: 15%;
            }
        }
    }
}

.hero{
    // min-height: 100vh;
    background: url(../images/main-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 189px;
    padding-bottom: 100px;
    .container{
        max-width: 1140px;
        padding: 0 15px;
        margin: 0 auto;
        .hero-content{
            max-width: 616px;
            color: #fff;
            .hero-subtitle{
                display: inline-block;
                margin-bottom: 22px;
                font-size: 14px;
                line-height: 21px;
            }
            .hero-title{
                margin: 0;
                margin-bottom: 24px;
                font-weight: 700;
                font-size: 60px;
                line-height: 74px;
            }
            .hero-desc{
                margin-bottom: 18px;
            }
            .hero-link{
                cursor: pointer;
                display: inline-flex;
                text-decoration: none;
                align-items: center;
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                color: #FFD723;
                .play-btn{
                    width: 12px;
                    height: 12px;
                    fill: #FFD723;
                }
                .hero-link-text{
                    text-indent: 10px;
                    border-bottom: 1px solid #FFD723;
                }
            }
        }
    }
}

.strategy{
    // padding-top: 100px;
    // padding-bottom: 150px;
    .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-items: flex-end;
        max-width: 1140px;
        padding: 0 15px;
        padding-bottom: 150px;
        margin: 0 auto;
        .strategy-content{
            max-width: 516px;
            .strategy-subtitle{
                display: inline-block;
                margin-bottom: 22px;
                font-size: 14px;
                line-height: 21px;
                color: #777C6A;
            }
            .strategy-title{
                margin: 0;
                margin-bottom: 24px;
                font-weight: 700;
                font-size: 40px;
                line-height: 55px;
                color: #4E533D;
                span{
                    background-color: #FFFBE8;
                }
            }
            .strategy-desc{
                margin-bottom: 18px;
                color: #8C999E;
            }
            .strategy-link{
                cursor: pointer;
                display: inline-flex;
                text-decoration: none;
                align-items: center;
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                color: #DFDFDF;
                .play-btn{
                    width: 12px;
                    height: 12px;
                    fill: #DFDFDF;
                }
                .strategy-link-text{
                    text-indent: 10px;
                    border-bottom: 1px solid #DFDFDF;
                }
            }
        }
        .strategy-thought{
            .strategy-card{
                max-width: 310px;
                height: 450px;
                padding: 0px 15px;
                display: flex;
                justify-content: flex-end;
                // justify-content: center;
                align-items: flex-end;
                margin-top: 50px;
                padding-bottom: 20px;
                -webkit-box-shadow: 0px 12px 67px 12px rgba(125,125,125,1);
                -moz-box-shadow: 0px 12px 67px 12px rgba(125,125,125,1);
                box-shadow: 0px 12px 67px 12px rgba(125,125,125,1);
                .strategy-thought-text{
                    display: flex;
                    flex-direction: column;
                    // justify-content: space-between;
                    justify-content: center;
                    gap: 20px;
                    height: 250px;
                    .thought-text{
                        line-height: 1.5;
                        font-style: italic;
                        color: #747967;
                    }
                    .thought-author{
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        // padding-bottom: 0;
                        .strategic-author-image{
                            border-radius: 50%;
                            width: 70px;
                            -webkit-box-shadow: 13px 12px 55px 0px rgba(125,125,125,1);
                            -moz-box-shadow: 13px 12px 55px 0px rgba(125,125,125,1);
                            box-shadow: 13px 12px 55px 0px rgba(125,125,125,1);
                        }
                        .author{
                            display: flex;
                            flex-direction: column;
                            gap: 7px;
                            .strategic-author-name{
                                color: #4E533D;
                            }
                            .strategic-author-desg{
                                color: #BABEC2;
                                font-size: 12px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
}

.project-intro{
    .container{
        max-width: 1140px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 50px 15px;
        margin: 50px auto 50px auto;
        .intro-heading{
            h2{
                max-width: 250px;
                line-height: 1.5;
            }
        }
        .intro-text{
            p{
                max-width: 470px;
                color: #8C999E;
                line-height: 1.5;
            }
        }
    }
}

.balenciaga-wall{
    position: relative;
    padding: 50px 0;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .balenciaga-image{
            // margin: 0 auto;
            .balenciaga-wall-image{
                width: 100%;
            }
        }
        .balenciaga-wall-content{
            max-width: 400px;
            margin: 0 auto;
            .balenciaga-wall-heading{
                font-size: 40px;
                line-height: 1.2;
                margin-bottom: 24px;
                color: #525741;
            }
            .balenciaga-wall-text-1{
                line-height: 1.5;
                margin-bottom: 24px;
                color: #929DA2;
            }
            .balenciaga-wall-text-2{
                line-height: 1.5;
                margin-bottom: 72px;
                color: #929DA2;
            }
            .balenciaga-wall-link{
                cursor: pointer;
                display: inline-flex;
                text-decoration: none;
                align-items: center;
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                color: #8C999E;
                .play-btn{
                    width: 12px;
                    height: 12px;
                    fill: #8C999E;
                }
                .balenciaga-wall-link-text{
                    text-indent: 10px;
                    border-bottom: 1px solid #8C999E;
                }
            }
        }
    }
    .balencia-wall-thought{
        position: absolute;
        bottom: 0;
        right: 40%;
        z-index: 999;
        .balencia-wall-card{
            width: 430px;
            padding: 20px;
            border-radius: 8px;
            background-color: #fff;
            -webkit-box-shadow: 26px 26px 43px -19px rgba(125,125,125,1);
            -moz-box-shadow: 26px 26px 43px -19px rgba(125,125,125,1);
            box-shadow: 26px 26px 43px -19px rgba(125,125,125,1);
            .balencia-wall-thought-text{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 20px;
                .thought-text{
                    line-height: 1.5;
                    font-style: italic;
                    color: #747967;
                }
                .thought-author{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    .balencia-wall-author-image{
                        border-radius: 50%;
                        width: 50px;
                        -webkit-box-shadow: 13px 12px 55px 0px rgba(125,125,125,1);
                        -moz-box-shadow: 13px 12px 55px 0px rgba(125,125,125,1);
                        box-shadow: 13px 12px 55px 0px rgba(125,125,125,1);
                    }
                    .author{
                        display: flex;
                        flex-direction: column;
                        gap: 7px;
                        .balencia-wall-author-name{
                            color: #4E533D;
                        }
                        .balencia-wall-author-desg{
                            font-size: 12px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

.future-3D{
    position: relative;
    padding: 50px 0;
    .container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        .future-3D-image{
            // margin: 0 auto;
            img{
                width: 100%;
            }
        }
        .future-3D-content{
            max-width: 400px;
            margin: 0 auto;
            .future-3D-heading{
                font-size: 40px;
                line-height: 1.2;
                margin-bottom: 24px;
                color: #525741;
            }
            .future-3D-text-1{
                line-height: 1.5;
                margin-bottom: 24px;
                color: #929DA2;
            }
            .future-3D-text-2{
                line-height: 1.5;
                margin-bottom: 72px;
                color: #929DA2;
            }
            .future-3D-link{
                cursor: pointer;
                display: inline-flex;
                text-decoration: none;
                align-items: center;
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                color: #8C999E;
                .play-btn{
                    width: 12px;
                    height: 12px;
                    fill: #8C999E;
                }
                .future-3D-link-text{
                    text-indent: 10px;
                    border-bottom: 1px solid #8C999E;
                }
            }
        }
    }
    .future-3D-thought{
        position: absolute;
        bottom: 0;
        right: 30%;
        z-index: 999;
        .future-3D-card{
            width: 430px;
            padding: 20px 20px 20px 20px;
            border-radius: 8px;
            background-color: #fff;
            -webkit-box-shadow: 26px 26px 43px -19px rgba(125,125,125,1);
            -moz-box-shadow: 26px 26px 43px -19px rgba(125,125,125,1);
            box-shadow: 26px 26px 43px -19px rgba(125,125,125,1);
            .future-3D-thought-text{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 20px;
                .thought-text{
                    line-height: 1.5;
                    font-style: italic;
                    color: #747967;
                }
                .thought-author{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    .future-3D-author-image{
                        border-radius: 50%;
                        width: 50px;
                        -webkit-box-shadow: 13px 12px 55px 0px rgba(125,125,125,1);
                        -moz-box-shadow: 13px 12px 55px 0px rgba(125,125,125,1);
                        box-shadow: 13px 12px 55px 0px rgba(125,125,125,1);
                    }
                    .author{
                        display: flex;
                        flex-direction: column;
                        gap: 7px;
                        .future-3D-author-name{
                            color: #4E533D;
                        }
                        .future-3D-author-desg{
                            font-size: 12px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

.online-future{
    position: relative;
    padding: 50px 0;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .online-future-image{
            // margin: 0 auto;
            img{
                width: 100%;
            }
        }
        .online-future-content{
            max-width: 400px;
            margin: 0 auto;
            .online-future-heading{
                font-size: 40px;
                line-height: 1.2;
                margin-bottom: 24px;
                color: #525741;
            }
            .online-future-text-1{
                line-height: 1.5;
                margin-bottom: 24px;
                color: #8C999E;
            }
            .online-future-text-2{
                line-height: 1.5;
                margin-bottom: 72px;
                color: #8C999E;
            }
            .online-future-link{
                cursor: pointer;
                display: inline-flex;
                text-decoration: none;
                align-items: center;
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                color: #929DA2;
                .play-btn{
                    width: 12px;
                    height: 12px;
                    fill: #929DA2;
                }
                .online-future-link-text{
                    text-indent: 10px;
                    border-bottom: 1px solid #8C999E;
                }
            }
        }
    }
    .online-future-thought{
        position: absolute;
        bottom: 0;
        right: 40%;
        z-index: 999;
        .online-future-card{
            width: 430px;
            padding: 20px 20px 20px 20px;
            border-radius: 8px;
            background-color: #fff;
            -webkit-box-shadow: 26px 26px 43px -19px rgba(125,125,125,1);
            -moz-box-shadow: 26px 26px 43px -19px rgba(125,125,125,1);
            box-shadow: 26px 26px 43px -19px rgba(125,125,125,1);
            .online-future-thought-text{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 20px;
                .thought-text{
                    line-height: 1.5;
                    font-style: italic;
                    color: #747967;
                }
                .thought-author{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    .online-future-author-image{
                        border-radius: 50%;
                        width: 50px;
                        -webkit-box-shadow: 13px 12px 55px 0px rgba(125,125,125,1);
                        -moz-box-shadow: 13px 12px 55px 0px rgba(125,125,125,1);
                        box-shadow: 13px 12px 55px 0px rgba(125,125,125,1);
                    }
                    .author{
                        display: flex;
                        flex-direction: column;
                        gap: 7px;
                        .online-future-author-name{
                            color: #4E533D;
                        }
                        .online-future-author-desg{
                            font-size: 12px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

#last-two-sections{
    position: relative;
}

.get-started{
    position: absolute; /* position this div absolutely */
    top: 46%; /* position it 50% from the top */
    left: 50%;
    transform: translate(-56%, -50%);
    min-width: 90%;
    background-color: #FAFAFA;
    // -webkit-box-shadow: 48px 61px 149px -58px rgba(0,0,0,1);
    // -moz-box-shadow: 48px 61px 149px -58px rgba(0,0,0,1);
    // box-shadow: 48px 61px 149px -58px rgba(0,0,0,1);
    .container{
        // max-width: 90%;
        .amazing-together{
            min-height: 270px;
            margin-left: 10%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            h2{
                max-width: 500px;
                color: #525741;
                line-height: 1.5;
                font-size: 40px;
                padding-right: 15px;
                // display: inline-block;
            }
            .get-started-link{
                cursor: pointer;
                display: inline-flex;
                text-decoration: none;
                align-items: center;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                color: #929DA2;
                .play-btn{
                    width: 12px;
                    height: 12px;
                    fill: #929DA2;
                }
                .get-started-link-text{
                    text-transform: uppercase;
                    text-indent: 10px;
                    border-bottom: 1px solid #929DA2;
                }
            }
        }
    }
}

.evaluation{
    // min-height: 100vh;
    max-width: 1100px;
    padding-bottom: 175px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 95px;
    padding: 95px 15px 175px 15px;
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .evaluation-heading{
            color: #4E533D;
            width: 100%;
            margin-bottom: 40px;
            h2{
                display: block;
                padding-left: 15px;
                line-height: 1.5;
                width: 100%;
                border: 2px solid red;
                max-width: 40%;
            }
        }
        .evaluation-cards{
            display: flex;
            // gap: 30px;
            div{
                // border: 1px solid red;
                border-radius: 5px;
                // width: 18%;
                width: 33%;
                display: flex;
                flex-direction: column;
                // justify-content: space-between;
                padding: 20px;
                transition: 0.8s all;
                h4{
                    text-transform: uppercase;
                    color: #4E533D;
                    margin-bottom: 20px;
                    line-height: 1.5;
                    font-weight: 550;
                    font-size: 18px;
                    cursor: default;
                }
                p{
                    color: #8C999E;
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 1.5;
                    margin-bottom: 40px;
                    cursor: default;
                    height: 120px;
                }
                a{
                    cursor: pointer;
                    display: inline-flex;
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 16px;
                    color: #929DA2;
                    .play-btn{
                        width: 12px;
                        height: 12px;
                        fill: #929DA2;
                    }
                    span{
                        text-indent: 10px;
                        border-bottom: 1px solid #929DA2;
                    }
                    &:hover{
                        .play-btn{
                            fill: #FFD723;
                        }
                        span{
                            color: #FFD723;
                        }
                    }
                }
                &:hover{
                    -webkit-box-shadow: 41px 46px 87px -30px rgba(125,125,125,1);
                    -moz-box-shadow: 41px 46px 87px -30px rgba(125,125,125,1);
                    box-shadow: 41px 46px 87px -30px rgba(125,125,125,1);
                }
            }
        }
    }
}

.footer{
    background: url(../images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 220px;
    flex-direction: row;
    .container{
        max-width: 1050px;
        padding: 0 15px;
        margin-left: auto;
        margin-right: auto;
        .contact-details{
            display: flex;
            // flex-wrap: wrap;
            gap: 100px;
            padding-bottom: 40px;
            div{
                h5{
                    font-weight: 450;
                    color: #ADB78F;
                    margin-bottom: 20px;
                }
                p{
                    color: #fff;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
        hr{
            height: 1px;
            background-color: #ADB78F;
            border: none;
        }
        .footer-middle{
            display: flex;
            // flex-wrap: wrap;
            gap: 200px;
            .complete-services{
                padding-top: 40px;
                display: flex;
                gap: 100px;
                div{
                    h5{
                        color: #fff;
                        text-transform: uppercase;
                        margin-bottom: 36px;
                        font-weight: 600;
                    }
                    p{
                        color: #ADB78F;
                        margin-bottom: 15px;
                        font-size: 14px;
                        font-weight: 450;
                    }
                }
            }
            .in-touch{
                padding-top: 40px;
                padding-bottom: 60px;
                h5:not(:last-child){
                    color: #fff;
                    text-transform: uppercase;
                    margin-bottom: 36px;
                    font-weight: 600;
                }
                p{
                    color: #ADB78F;
                    margin-bottom: 20px;
                    font-size: 14px;
                    font-weight: 450;
                }
                h4{
                    color: #fff;
                    font-size: 20px;
                    margin-bottom: 20px;
                }
                .social-media{
                    .fa-brands{
                        padding: 11px 30px 11px 12px;
                        background-color: #454A35;
                        font-size:20px;
                        color: #adb78f;
                        width: 30px;
                        text-align: center;
                        text-decoration: none;
                        margin: 3px 5px;
                        border-radius: 50%;
                        transition: 0.8s all;
                        &:hover{
                            background-color: #FFD723;
                            color: #fff;
                        }
                    }
                    .fa-facebook-f{
                        padding: 11px 27px 11px 14px;
                    }
                    .fa-google-plus-g{
                        padding: 11px 32px 11px 8px;
                    }
                }
            }
        }
        .footer-last{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            div{
                img{
                    height: 30px;
                }
                p{
                    font-weight: 500;
                    color: #ADB78F;
                }
            }
        }
    }
}

@media screen and (max-width: 1135px){
    .balenciaga-wall{
        .container{
            margin-left: 20px;
            margin-right: 20px;
            .balenciaga-wall-content{
                padding-top: 120px;
                max-width: 700px;
            }
        }
        .balencia-wall-thought{
            height: max-content;
            width: max-content;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
    .future-3D{
        .container{
            margin-left: 20px;
            margin-right: 20px;
            .future-3D-content{
                padding-top: 120px;
                max-width: 700px;
            }
        }
        .future-3D-thought{
            height: max-content;
            width: max-content;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
    .online-future{
        .container{
            margin-left: 20px;
            margin-right: 20px;
            .online-future-content{
                padding-top: 120px;
                max-width: 700px;
            }
        }
        .online-future-thought{
            height: max-content;
            width: max-content;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}

@media screen and (max-width: 1084px){
    .get-started{
        top: 47%;
    }
    .evaluation{
        .container{
            .evaluation-heading{
                h2{
                    max-width: 50%;
                }
            }
        }
    }
}

@media screen and (max-width: 977px){
    .get-started{
        top: 55%;
    }
    .evaluation{
        padding-top: 105;
        padding-bottom: 185;
        .container{
            .evaluation-cards{
                gap: 20px;
                // border: 1px solid blue;
                justify-content: center;
                flex-wrap: wrap;
                div{
                    // border: 1px solid blue;
                    width: 40%;
                }
            }
        }
    }
}

@media screen and (max-width: 909px){
    .footer{
        .container{
            .footer-middle{
                gap: 100px;
            }
        }
    }
}

@media screen and (max-width: 885px){
    .company-logo{
        top: 41%; /* position it 50% from the top */
        left: 50%;
        transform: translate(-44.5%, -50%);
    }
    .strategy{
        .container{
            padding-top: 120px;
            flex-direction: column;
            align-items: center;
            .strategy-content{
                max-width: 536px;
            }
            .strategy-thought{
                .strategy-card{
                    max-width: 430px;
                    height: max-content;
                    padding: 20px;
                    border-radius: 8px;
                }
            }
        }
    }
    .evaluation{
        .container{
            .evaluation-heading{
                h2{
                    max-width: 55%;
                }
            }
        }
    }
    .footer{
        .container{
            .footer-middle{
                .complete-services{
                    gap: 60px;
                }
            }
        }
    }
    .footer{
        .container{
            .footer-middle{
                gap: 90px;
            }
        }
    }
}

@media screen and (max-width: 809px){
    .footer{
        .container{
            .footer-middle{
                .complete-services{
                    gap: 50px;
                }
            }
        }
    }
}

@media screen and (max-width: 802px) {
    .get-started{
        top: 56%;
    }
}

@media screen and (max-width: 794px) {
    .get-started{
        top: 57%;
    }
    .evaluation{
        .container{
            .evaluation-heading{
                h2{
                    max-width: 60%;
                }
            }
        }
    }
}

@media screen and (max-width: 789px){
    .footer{
        .container{
            .footer-middle{
                .complete-services{
                    gap: 40px;
                }
            }
        }
    }
}

@media screen and (max-width: 769px){
    .get-started{
        top: 50%;
    }
    .footer{
        .container{
            .footer-middle{
                flex-direction: column;
                gap: 40px;
                .in-touch{
                    margin-bottom: 40px;
                }
            }
        }
    }
    .footer{
        .container{
            .footer-middle{
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                .complete-services{
                    width: 100%;
                    justify-content: space-between;
                    div{
                        padding: 0 20px;
                    }
                }
                .in-touch{
                    padding: 0 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 754px){
    .project-intro{
        .container{
            .intro-heading {
                h2{
                    text-align: center;
                }
            }
            .intro-text{
                p{
                    margin-top: 25px;
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width: 723px){
    .evaluation{
        .container{
            .evaluation-heading{
                h2{
                    max-width: 70%;
                }
            }
        }
    }
}

@media screen and (max-width: 691px) {
    .get-started{
        top: 50%;
    }
}

@media screen and (max-width: 687px) {
    .get-started{
        top: 51%;
    }
}

@media screen and (max-width: 673px){
    .balenciaga-wall{
        .container{
            .balenciaga-wall-content{
                .balenciaga-wall-heading{
                    font-size: 30px;
                }
            }
        }
    }
    .future-3D{
        .container{
            .future-3D-content{
                .future-3D-heading{
                    font-size: 30px;
                }
            }
        }
    }
    .online-future{
        .container{
            .online-future-content{
                .online-future-heading{
                    font-size: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 624px){
    .evaluation{
        .container{
            .evaluation-heading{
                h2{
                    max-width: 100%;
                }
            }
        }
    }
}


@media screen and (max-width: 589px){
    .hero{
        .container{
            .hero-content{
                .hero-title{
                    font-size: 54px;
                }
            }
        }
    } 
}

@media screen and (max-width: 556px){
    .get-started{
        top: 41%;
    }
    .footer{
        .container{
            .footer-middle{
                .complete-services{
                    flex-wrap: wrap;
                    div{
                        width: 80%;
                    }
                }
            }
            .footer-last{
                flex-wrap: wrap;
                .copyrights{
                    margin-top: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 533px){
    .hero{
        .container{
            .hero-content{
                .hero-title{
                    font-size: 46px;
                }
            }
        }
    } 
}

@media screen and (max-width: 527px){
    .get-started{
        top: 40%;
    }
}

@media screen and (max-width: 520px){
    .balenciaga-wall{
        .balencia-wall-thought{
            top: -20%;
            .balencia-wall-card{
                width: 310px;
            }
        }
    }
    .future-3D{
        .future-3D-thought{
            top: -20%;
            .future-3D-card{
                width: 310px;
            }
        }
    }
    .online-future{
        .online-future-thought{
            top: -20%;
            .online-future-card{
                width: 310px;
            }
        }
    }
}

@media screen and (max-width: 489px){
    .get-started{
        .container{
            .amazing-together{
                h2{
                    font-size: 32px;
                }
            }
        }
    }
}

@media screen and (max-width: 470px){
    .get-started{
        top: 49%;
    }
    .company-logo{
        min-height: 60px;
    }
    .strategy{
        .container{
            .strategy-content{
                .strategy-title{
                    font-size: 37px;
                }
            }
        }
    } 
    .evaluation{
        .container{
            .evaluation-cards{
                gap: 20px;
                // border: 1px solid blue;
                justify-content: center;
                flex-wrap: wrap;
                div{
                    width: 80%;
                    p{
                        height: 80px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 459px){
    .hero{
        .container{
            .hero-content{
                .hero-title{
                    font-size: 44px;
                }
            }
        }
    } 
    .balenciaga-wall{
        .container{
            .balenciaga-wall-content{
                padding-top: 160px;
            }
        }
    }
    .future-3D{
        .container{
            .future-3D-content{
                padding-top: 160px;
            }
        }
    }
    .online-future{
        .container{
            .online-future-content{
                padding-top: 160px;
            }
        }
    }
}

@media screen and (max-width: 440px){
    .get-started{
        top: 49%;
    }
    .hero{
        .container{
            .hero-content{
                .hero-title{
                    font-size: 38px;
                }
            }
        }
    }
}

@media screen and (max-width: 439px){
    .strategy{
        .container{
            .strategy-content{
                .strategy-title{
                    font-size: 34px;
                }
            }
        }
    } 
}

@media screen and (max-width: 412px){
    .balenciaga-wall{
        .container{
            .balenciaga-wall-content{
                padding-top: 280px;
            }
        }
        .balencia-wall-thought{
            .balencia-wall-card{
                width: 260px;
            }
        }
    }
    .future-3D{
        .container{
            .future-3D-content{
                padding-top: 280px;
            }
        }
        .future-3D-thought{
            .future-3D-card{
                width: 260px;
            }
        }
    }
    .online-future{
        .container{
            .online-future-content{
                padding-top: 280px;
            }
        }
        .online-future-thought{
            .online-future-card{
                width: 260px;
            }
        }
    }
    .footer{
        .container{
            .contact-details{
                flex-direction: column;
                gap: 30px;
                padding-left: 20px;
                .call{
                    .call-text{
                        margin-bottom: 10px;
                    }
                }
                .address{
                    .address-text{
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    .get-started{
        top: 48%;
    }
}

@media screen and (max-width: 404px){
    .company-logo{
        top: 40%; /* position it 50% from the top */
        left: 50%;
        transform: translate(-44.5%, -50%);
    }
    .strategy{
        .container{
            .strategy-content{
                .strategy-title{
                    line-height: 1.45;
                    font-size: 30px;
                }
            }
        }
    } 
    .hero{
        .container{
            .hero-content{
                .hero-title{
                    line-height: 1.45;
                }
            }
        }
    }
}

@media screen and (max-width: 385px){
    .company-logo{
        top: 39.5%; /* position it 50% from the top */
        left: 50%;
        transform: translate(-44.5%, -50%);
    }
    .hero{
        .container{
            .hero-content{
                .hero-title{
                    font-size: 34px;
                }
            }
        }
    }
}

@media screen and (max-width: 395px){
    .get-started{
        .container{
            .amazing-together{
                h2{
                    font-size: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 370px){
    .get-started{
        .container{
            .amazing-together{
                h2{
                    font-size: 26px;
                }
            }
        }
    }
    .company-logo{
        top: 39%; /* position it 50% from the top */
        left: 50%;
        transform: translate(-44.5%, -50%);
    }
}

@media screen and (max-width: 362px){
    .get-started{
        top: 48.5%;
    }
    .strategy{
        .container{
            .strategy-content{
                .strategy-title{
                    font-size: 26px;
                }
            }
        }
    } 
}

@media screen and (max-width: 334px){
    .get-started{
        top: 48%;
    }
    .balenciaga-wall{
        .container{
            .balenciaga-wall-content{
                padding-top: 270px;
            }
        }
    }
    .future-3D{
        .container{
            .future-3D-content{
                padding-top: 320px;
            }
        }
    }
    .online-future{
        .container{
            .online-future-content{
                padding-top: 250px;
            }
        }
    }
}